.gp-code-jumper-targeted {
  position: relative;
  display: inline-block;
  color: inherit;
}

.gp-code-jumper-targeted__popup {
  position: absolute;
  left: calc(-50% - 40px);
  box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
  border: 1px solid #d1d5da;
  display: none;
  z-index: 30;
  padding: 10px;
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 12px;
}

.gp-code-jumper-targeted__popup--white {
  color: #000000;
  background-color: #FFFFFF;
}

.gp-code-jumper-targeted__popup--dark {
  color: #FFFFFF;
  background-color: #272821;
  box-shadow: 0 0 3px #AAAAAA;
}

.gp-code-jumper-targeted-popup__triangle {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 90px;
  z-index: 10;
  transform: rotate(-45deg);
  border-left: 1px solid rgba(27, 31, 35, .15);
  border-bottom: 1px solid rgba(27, 31, 35, .15);
}

.gp-code-jumper-targeted__popup--top .gp-code-jumper-targeted-popup__triangle {
  bottom: -6px;
}

.gp-code-jumper-targeted__popup--bottom .gp-code-jumper-targeted-popup__triangle {
  top: -6px;
}

.gp-code-jumper-targeted-popup__triangle--white {
  background-color: #FFFFFF;
}

.gp-code-jumper-targeted-popup__triangle--dark {
  background-color: #272821;
  border: none;
}

.gp-code-jumper-colors--primary {
  color: #F92772
}
.gp-code-jumper-colors--secondary {
  color: #74715E
}
.gp-code-jumper-colors--third {
  color: #888888
}
.gp-code-jumper-fonts--bold {
  font-weight: bold
}

.gp-code-jumper-targeted__popup--white .gp-code-jumper-kind-of {
  border-top: 1px solid #EEEEEE;
  margin-top: 6px;
  padding-top: 6px;
}

.gp-code-jumper-targeted__popup--dark .gp-code-jumper-kind-of {
  border-top: 1px solid #333333;
  margin-top: 6px;
  padding-top: 6px;
}
